/* .nav {
    background-color: #4169E1;
    overflow: hidden;
} */

.nav ul li{
    list-style: none;
   color: #fff;
   padding:10px;
}
.nav ul{
    display: flex;
    gap:50px;
    background-color:#4169E1;
    position: relative;
}
.nav ul li:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s;
}.home{
    margin-top: 10px;
    background-color: #4169E1;
    color: #fff;
    border: none;
}
.home:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s;
}
.content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  .content a:hover {
    background-color: #f2f2f2
}
.dropdown:hover .content {
    display: block;
  }
  

  